<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MDoutline Master Template</title>

  <!-- Bootstrap core CSS -->
  <link href="asserts/vendor/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- FontAwesome for icons -->
  <link href="asserts/vendor/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">

  <!-- MDoutline Base CSS -->
  <link href="asserts/css/base.css" rel="stylesheet">

  <!-- Page specific CSS -->
  <!-- <link href="asserts/css/master-template-editor.css" rel="stylesheet"> -->

</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

    <!-- LOGO -->
    <img src="asserts/img/utas-logo-black.png" class="site-logo" />
    <h4 class="my-0 mr-md-auto font-weight-normal site-header">Unit Outline Editing System</h4>

    <!-- MENU {-->
    <nav class="my-2 my-md-0 mr-md-3" id="header-menu">
      <a class="btn text-dark" href="#">Unit List</a>
      <a class="btn text-dark" href="#">Template Editor</a>
      <a class="btn text-dark current" href="#">Master Template List</a>
      <a class="btn text-dark" href="#">Users</a>
    </nav>

    <a class="btn btn-outline-utas-red" href="#">
      <i class="fas fa-sign-out-alt"></i> Logoff</a>
    <!-- } MEMU -->
  </div>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <!-- PAGE HEADER{ -->

    <!-- }PAGE HEADER -->
    <h1>Sample Page Heading</h1>
  </div>

  <div class="container" id="main-wrapper">
    <!-- ****************** MAIN CONTENT AREA ********************** { -->


    <!-- } ***************** MAIN CONTENT AREA **********************  -->
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div>
      <small style="text-align: center;" class="d-block mb-3 text-muted">&copy; 2018 - 2019 University of Tasmania</small>
    </div>
  </footer>
  </div>

  <!--jQuery Library-->
  <script src="asserts/vendor/jquery/jquery-3.3.1.min.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="asserts/vendor/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>